@import "./_reset.css";

:root {
  /* App color profile */
  --clr-background: hsl(0, 0%, 26%);
  --clr-font-light: hsl(0, 0%, 94%);
  --clr-link: hsl(216, 69%, 45%);

  /* Font weights */
  --fw-light: 100;
  --fw-normal: 300;
  --fw-bold: 700;

  /* Layout helpers */
  --header-height: 120px;
  --navbar-width: 180px;
}

* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header {
  height: var(--header-height);
  background-color: var(--clr-background);
  color: var(--clr-font-light);
}

header h1 {
  text-align: center;
  font-size: 226%;
}

header .logout-button-container {
  text-align: right;
}

header .logout-button-container button {
  display: inline-block;
}

 /* The side navigation menu */
nav {
  height: 100%; /* 100% Full-height */
  width: var(--navbar-width); /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  /* z-index: -1; */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 226px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

main {
  outline: 2px solid green;
  margin-left: var(--navbar-width);
  padding: 20px;

  /* For handling the display of the side navbar */
  transition: margin-left .5s;
}