@import "./_reset.css";

:root {
  /* App color profile */
  --clr-background: hsl(0, 0%, 26%);
  --clr-dark: hsl(0, 0%, 7%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-font-light: hsl(0, 0%, 94%);
  --clr-font-medium: hsl(0, 0%, 64%);
  --clr-link: hsl(216, 52%, 54%);
  --clr-link-light: hsl(217, 32%, 86%);
  --clr-error: hsl(0, 76%, 48%);
  --clr-sky-color: hsl(197, 71%, 73%);

  /* Font weights */
  --fw-light: 100;
  --fw-normal: 300;
  --fw-bold: 700;

  /* Layout helpers */
  --header-height: 120px;
  --navbar-width: 180px;
}

* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 226%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 175%;
}

header {
  height: var(--header-height);
  background-color: var(--clr-link);
  color: var(--clr-font-light);
}

header h1 {
  text-align: center;
  font-size: 333%;
}

header .logout-button-container {
  text-align: right;
}

header .logout-button-container button {
  display: inline-block;
}

 /* The side navigation menu */
nav {
  height: 100%; /* 100% Full-height */
  width: var(--navbar-width); /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  /* z-index: -1; */
  background-color: var(--clr-dark); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 226px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--clr-font-medium);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

main {
  margin-left: var(--navbar-width);
  padding: 20px;

  /* For handling the display of the side navbar */
  transition: margin-left .5s;

  background-image: linear-gradient(192.5deg, var(--clr-white), var(--clr-link-light));
  /* background-image: url("./images/background/kelvin-helmholtz.jpg"); */
  width: calc(100% - var(--navbar-width));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.forecast-location-button-container {
  display: flex;
  justify-content: center;
}

.forecast-location-button {
  border: none;
  border-radius: 8px;
  padding: 1em 3em;
  font-weight: var(--fw-bold);
  transition: 0.26s ease-in-out;
}

.forecast-location-button:focus,
.forecast-location-button:hover {
  box-shadow: 0 0 6px var(--clr-link-light);
}

.active-forecast-location {
  background-color: var(--clr-link);
  color: var(--clr-font-light);
}

.forecast-location-container {
  margin: 0 auto;
  margin-bottom: 3em;
}

.forecast-location-container > div {
  font-size: 85%;
  text-align: center;
  word-wrap: break-word;
}

.forecast-form {
  position: relative;
}

.forecast-form-container {
  width: 488px;
  text-align: center;
  margin: 0 auto;
}

.forecast-form-card {
  position: relative;
  box-shadow: 0px 0px 12px var(--clr-background);
  background-color: var(--clr-white);
  border: 8px solid var(--clr-link);
  border-radius: 4em;
  height: 552px;
  padding-top: 2em;
}

.forecast-form-card img {
  position: relative;
  background-color: hsl(203, 68%, 85%);
  outline: 16px solid #fff;
  margin: 0 auto;
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  z-index: 1;
}

.past-full-forecast-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(500px, -548px);
}

.forecast-past-forecast-button {
  margin: 0px 0px 0.5em;
  box-shadow: 0px 0px 12px var(--clr-background);
  border: 3px solid var(--clr-link);
  border-radius: 0 8px 16px;
  background-color: var(--clr-link-light);
  width: 250px;
  transition: 0.26s ease-in-out;
}

.forecast-past-forecast-button:hover {
  background-color: var(--clr-link);
}

.forecast-past-forecast-button:nth-child(2) {
  margin-left: 16px;
}

.forecast-past-forecast-button:nth-child(3) {
  margin-left: 32px;
}

.forecast-past-forecast-button:nth-child(4) {
  margin-left: 48px;
}

.forecast-past-creation-date {
  font-size: 86%;
  font-weight: var(--fw-light);
}

.forecast-past-bold {
  font-weight: var(--fw-bold);
}

.cloud-cover-selection-container {
  position: absolute;
  transform: translate(20px, -180px);
}

.cloud-cover-selection {
  box-shadow: 0px 0px 6px var(--clr-background);
  background-color: var(--clr-font-light);
  width: 160px;
  height: 43px;
  border: none;
  color: var(--clr-dark)
}

.cloud-cover-selection > option {
  font-weight: bolder;
}

.cloud-cover-selection + .error {
  text-align: left;
}

.pop-input-container {
  position: absolute;
  transform: translate(275px, -90px);
}

.pop-input {
  box-shadow: 0px 0px 6px var(--clr-background);
  background-color: var(--clr-font-light);
  border-width: 0px;
  border: none;
  width: 160px;
  height: 86px;
  padding-right: 0.56ch;
  text-align: right;
  font-size: 250%;
  font-weight: var(--fw-bold);
  color: var(--clr-dark)
}

.cloud-cover-selection:hover,
.cloud-cover-selection:focus,
.pop-input:hover,
.pop-input:focus,
.wind-speed:hover,
.wind-speed:focus,
.wind-direction:hover,
.wind-direction:focus {
  outline: none;
}

.pop-input + .error {
  text-align: right;
}

.high-temp-container {
  position: absolute;
  transform: translate(194px, 28px);
  /* filter: drop-shadow(0px 0px 3px var(--clr-background)); */
}

.low-temp-container {
  position: absolute;
  transform: translate(56px, 103px);
  /* filter: drop-shadow(0px 0px 3px var(--clr-background)); */
}

.high-temp,
.low-temp {
  background-color: var(--clr-font-light);
  border: none;
  width: 222px;
  height: 111px;
  font-size: 360%;
  font-weight: var(--fw-bold);
  color: var(--clr-back);
}

.high-temp {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    40% 100%,
    0 60%
  );
  text-align: right;
  padding-right: 1ch;
}

.high-temp + .error {
  text-align: right;
}

.low-temp {
  clip-path: polygon(
    0% 0%,
    60% 0%,
    100% 40%,
    100% 100%,
    0 100%
  );
  padding-left: 1ch;
}

.low-temp + .error {
  text-align: left;
}

.wind-speed-container {
  position: absolute;
  transform: translate(56px, 240px);
}

.wind-speed {
  box-shadow: 0px 0px 6px var(--clr-background);
  background-color: var(--clr-font-light);
  width: 270px;
  height: 43px;
  border: none;
  text-align: center;
  font-size: 150%;
  font-weight: var(--fw-bold);
  color: var(--clr-back);
}

.wind-direction-container {
  position: absolute;
  transform: translate(336px, 240px);
}

.wind-direction {
  box-shadow: 0px 0px 6px var(--clr-background);
  background-color: var(--clr-font-light);
  width: 80px;
  height: 43px;
  border: none;
  color: var(--clr-dark);
  text-align: center;
}

.past-daily-forecast-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-270px, -548px);
}

.past-daily-forecast-list {
  list-style-type: none;
}

.past-daily-forecast-list-item {
  margin-bottom: 1em;
}

.past-daily-forecast-list-item:nth-child(2) {
  margin-right: 8px;
}

.past-daily-forecast-list-item:nth-child(3) {
  margin-right: 16px;
}

.past-daily-forecast-list-item:nth-child(4) {
  margin-right: 24px;
}

.past-daily-forecast-list-item:nth-child(5) {
  margin-right: 32px;
}

.past-daily-forecast-list-item:nth-child(6) {
  margin-right: 40px;
}

.past-daily-forecast-list-item:nth-child(7) {
  margin-right: 48px;
}

.past-daily-forecast-list-item:nth-child(8) {
  margin-right: 56px;
}

.past-daily-forecast-list-item > button {
  box-shadow: 0px 0px 4px var(--clr-font-medium);
  margin-right: 0.5em;
  border: 2px solid var(--clr-link);
  border-radius: 4px 0px 4px 8px;
  min-width: 96px;
  background-color: var(--clr-link-light);
  font-weight: var(--fw-bold);
}

.past-daily-forecast-list-item > p {
  font-weight: var(--fw-light);
  font-size: 80%;
}

.past-daily-forecast-list-item > p> span {
  font-style: italic;
}

.forecast-submission-container {
  position: absolute;
  transform: translate(206px, 296px);
}

.locations-container {
  display: flex;
  gap: 86px;
  padding: 2em;
}

.location-name {
  margin: 1em;
  border: 1px solid gray;
  border-radius: 1.26em;
  padding: 1em;
  list-style-type: none;
  transition: 0.26s ease-in-out;
}

.location-name:focus,
.location-name:hover {
  background-color: var(--clr-font-light);
  box-shadow: 0px 0px 5px gray;
  transform: translate(-1px, -1px);
}

.location-station {
  font-weight: bold;
  font-size: 150%;
}

.location-name button {
  float: right;  
}

.location-description {
  padding-left: 1em;
}

.location-coordinates {
  padding-top: 1em;
  padding-left: 1.5em;
  text-align: right;
  font-style: italic;
  font-size: 75%;
  font-weight: var(--fw-light);
}

.location-coordinates span {
  font-weight: var(--fw-normal);
}

.history-station-name-title {
  font-weight: var(--fw-normal);
  font-size: 20px;
}

.history-main-ul {
  position: relative;
  list-style-type: none;
}

.history-forecast-dropdown-container {
  position: absolute;
  transform: translate(-40px, 48px);
}

.history-forecast-dropdown {
  background-color: var(--clr-link-light);
  border: none;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  color: var(--clr-font-light);
  font-weight: var(--fw-bold);
  transition: 0.26s ease-in-out;
}

.history-forecast-dropdown-rotated {
  background-color: var(--clr-link);
  transform: rotateX(180deg);
}

.history-main-li div .history-fields-container {
  background-color: var(--clr-link);
  color: var(--clr-font-light)
}

.history-subitem-ul {
  list-style-type: none;
}

.history-subitem-li div .history-fields-container{
  color: var(--clr-dark);
}

.history-subitem-li:nth-child(odd) div div {
  background-color: var(--clr-white);
}

.history-subitem-li:nth-child(even) div div{
  background-color: var(--clr-link-light);
}

.history-subitem-li:last-child {
  margin-bottom: 1em;
}

.history-fields-container {
  display: flex;
  border-radius: 0px 8px;
}

.history-fields-container div {
  padding: 0.35em;
}

.history-fields-container div[class$="-main"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 125%;
  font-weight: var(--fw-bold);
}

.history-forecast-date-main {
  margin-top: 1.125em;
  /* background: linear-gradient(45deg, hsla(50, 81%, 35%, 20%), hsla(0, 0%, 100%, 20%)); */
  border-top: 1px solid var(--clr-link-light);
  border-left: 1px solid var(--clr-link-light);
  border-top-left-radius: 8px;
  width: max-content;
  padding: 0.5em 2em 0.26em;
  font-size: 16px;
  font-weight: var(--fw-bold);
}

.history-high-temp-main,
.history-low-temp-main,
.history-pop-main,
.history-low-temp,
.history-pop  {
  width: 96px;
  min-width: 84px;
  max-width: 96px;
}

.history-cloud-cover-main,
.history-cloud-cover {
  width: 256px;
  min-width: 172px;
  max-width: 256px;
}

.history-cloud-cover-main > img,
.history-cloud-cover > img {
  margin-right: 0.26em;
  width: 3em;
}

.history-wind-speed-main,
.history-wind-speed {
  width: 286px;
  max-width: 286px;
  min-width: 240px;
}

.history-created-on-main-date {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 48px;
  width: 256px;
  min-width: 172px;
  max-width: 256px;
  padding-left: 12em;
  font-size: 86%;
  font-weight: var(--fw-light);
}

.history-created-on {
  width: 256px;
  min-width: 172px;
  max-width: 256px;
  padding-left: 12em;
  font-size: 86%;
  font-weight: var(--fw-light);
}

.history-high-temp {
  width: 90px;
  min-width: 64px;
  max-width: 90px;
}

.history-cloud-cover {
  display: flex;
  justify-content: center;
}

.history-cloud-cover > img {
  width: 1.86em;
}

.error {
  padding-left: 0.5em;
  color: var(--clr-error);
  font-size: 75%;
  font-weight: bold;
}

.hide {
  display: none;
}

.not-logged-in .button-container {
  display: flex;
  justify-content: center;
}

.not-logged-in .button-container a {
  margin: 1em 3em;
}

.not-logged-in p:nth-child(2) {
  margin: 1em 0 3em;
  padding-left: 2em;
}

.not-logged-in p:nth-child(3) {
  margin: 1em 0 3em;
  padding-left: 4em;
}

.not-logged-in p:nth-child(4) {
  margin: 1em 0 3em;
  padding-left: 6em;
}

.login-container {
  padding-left: 30%;
  outline: 1px solid green;
}

.login-container form input {
  margin: 1em;
}